canvas {
    display: block;
    width: auto;
    height: 600px;
    position: relative;
}
.tabs .indicator{
    background-color:#00897b;
    color: #00897b;
}
.tabs .tab a,.tabs .tab a:hover, .tabs .tab a.active {
    color: #00897b;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #dcfbf8;
}
.table-of-contents a.active,.table-of-contents a:hover {
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #00897b;
}
.custom-viewer{
    padding: 0 10px;
    margin-top: 5px;
}
select{
    background-color: rgba(255,255,255,0.9);
    width: inherit;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
    display: inherit;
}
.mdl-button--raised.mdl-button--colored {
    background: #cfd8dc;
    color: #000;
}
.mdl-button.mdl-button--colored {
    background: #cfd8dc;
    color: #000;
}
.mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover {
    background-color: #b0bec5;
}
.dataTables_empty{
    text-align:center !important;
}
.susceptible{
    color:#1414C4;
    font-weight:bold;
}
.resistant{
    color:#e53935;
    font-weight:bold;
}
a {
    color: inherit;
    font-weight: inherit;
}
