canvas {
    display: block;
    width: auto;
    height: 600px;
    position: relative;
}
.btn-viewer{
    padding: 0 5px;
}
.btn-viewer i{
    margin-right: 3px;
}
.tabs .indicator{
    background-color:#00897b;
    color: #00897b;
}
.tabs .tab a,.tabs .tab a:hover, .tabs .tab a.active {
    color: #00897b;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #dcfbf8;
}
.table-of-contents a.active,.table-of-contents a:hover {
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #00897b;
}
.custom-viewer{
    padding: 0 5px;
    margin-top: 5px;
    text-align: center;
}

.custom-viewer i{
    font-size: 1.1rem;
}

svg {
  width: 100%;
}

.link {
  fill: none;
  stroke-width: 5px;
}

.node {
  stroke: #000;
  stroke-width: 2px;
}
.link.hbond{
    stroke:red;
}
.link.ionic{
    stroke:#FFEB3B;
}
.link.covalent{
    stroke:#D35400;
}
.link.vdw{
    stroke:#BBDEFB;
}
.link.hbond{
    stroke:#EF5350;
}
.link.halogen{
    stroke:#F4D03F;
}
.link.metal_complex{
    stroke:#AED6F1;
}
.link.aromatic{
    stroke:#AED581;
}
.link.hydrophobic{
    stroke:#4CAF50;
}
.link.carbonyl{
    stroke:#2196F3;
}
.link.polar_hbond{
    stroke:#FFCC80;
}
.link.clash{
    stroke:#FA6AFF
}
.link.ring{
    stroke:#5D4037;
}
.switch.wt input[type=checkbox]:checked+.lever {
    background-color: #9e9e9e;
}
.switch.wt input[type=checkbox]:checked+.lever:after {
    background-color: #757575;
}
.switch.mt input[type=checkbox]:checked+.lever {
    background-color: #9e9e9e;
}
.switch.mt input[type=checkbox]:checked+.lever:after {
    background-color: #757575;
}
.switch.clash input[type=checkbox]:checked+.lever {
    background-color: #f48fb1;
}
.switch.clash input[type=checkbox]:checked+.lever:after {
    background-color: #f06292;
}
.switch.vdw input[type=checkbox]:checked+.lever {
    background-color: #bbdefb;
}
.switch.vdw input[type=checkbox]:checked+.lever:after {
    background-color: #90caf9;
}
.switch.hbond input[type=checkbox]:checked+.lever {
    background-color: #ef5350;
}
.switch.hbond input[type=checkbox]:checked+.lever:after {
    background-color: #f44336;
}
.switch.ionic input[type=checkbox]:checked+.lever {
    background-color: #fff9c4;
}
.switch.ionic input[type=checkbox]:checked+.lever:after {
    background-color: #ffeb3b;
}
.switch.aromatic input[type=checkbox]:checked+.lever {
    background-color: #dcedc8;
}
.switch.aromatic input[type=checkbox]:checked+.lever:after {
    background-color: #aed581;
}
.switch.hydrophobic input[type=checkbox]:checked+.lever {
    background-color: #a5d6a7;
}
.switch.hydrophobic input[type=checkbox]:checked+.lever:after {
    background-color: #4caf50;
}
.switch.carbonyl input[type=checkbox]:checked+.lever {
    background-color: #64b5f6;
}
.switch.carbonyl input[type=checkbox]:checked+.lever:after {
    background-color: #2196f3;
}
.switch.polar input[type=checkbox]:checked+.lever {
    background-color: #ffcc80;
}
.switch.polar input[type=checkbox]:checked+.lever:after {
    background-color: #ff9800;
}
.switch.ring input[type=checkbox]:checked+.lever {
    background-color: #a1887f;
}
.switch.ring input[type=checkbox]:checked+.lever:after {
    background-color: #5d4037;
}
.neutral,.stabilising{
    color:#1414C4;
    font-weight:bold;
}
.deleterious,.destabilising{
    color:#e53935;
    font-weight:bold;
}
