@font-face {
  font-family: 'die_grinsekatze';
  src: url('../fonts/Die_Grinsekatze.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Die_Grinsekatze.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Die_Grinsekatze.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Die_Grinsekatze.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Die_Grinsekatze.svg') format('svg'); /* Legacy iOS */
       url('../fonts/Die_Grinsekatze.otf') format('otf'); /* Legacy iOS */
}

html,body {
	height:100%;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.page-footer {
  flex-shrink: 0;
}

.brand-name{
	font: 400 50px/1.2 'Leckerli One', Helvetica, sans-serif;
	color: #000;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
}

::selection {
  background: #bbdefb; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #bbdefb; /* Gecko Browsers */
  color: #fff;
}

.abstract{
	text-align: justify;
	text-justify: inter-word;
}

.padding-top-10{
    padding-top:10px;
}

.margin-top-15{
    margin-top:15px;
}

nav .brand-logo, nav ul a{
    color: #424242;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #03a9f4;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #03a9f4;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #03a9f4;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #03a9f4;
    -webkit-box-shadow: 0 1px 0 0 #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
