{% extends 'base.html' %}
{% block container %}

    <style>
        .table-of-contents a.active,.table-of-contents a:hover {
            font-weight: 500;
            padding-left: 14px;
            border-left: 2px solid #00897b;
        }
        .card ul{
            margin-left:40px;
            text-align: justify;
            display: block;
        }
        .card ul li{
            list-style-type: disc !important;
            font-size: 15px;
        }
        .card ul li ul li{
            list-style-type: circle !important;
        }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/railscasts.min.css" rel="stylesheet"></link>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h3> Running a single prediction using API</h3><br>
                <h4> Users can submit an API (Application Programming Interface) job with 'curl' command and PYTHON script as below.</h4>
                <ul>
                    <li><b>pdb file (pdb_file)</b> or <b>pdb code (pdb_code)</b>: provide a PDB structure through a file or PDB accession code</li>
                    <li><b>smiles file (smiles_file)</b> or <b>smiles (smiles)</b>:: provide the smile file of the carbohydrates .</li>
                    <li><b>carbohydrate chain (carbohydrate_chains)</b>: provide the chain ID of the carbohydrate</li>
                    <li><b>carbohydrate names (carbohydrate_names)</b>: provide the names of all carbohydrates, seperated by '_'</li>
                </ul>
                1. 'curl' commands<br>
                <pre><code class="language-bash"># Submitting a job using PDB FILE
curl http://biosig.unimelb.edu.au/csm_carbohydrate/api/SinglePredictionApi -X POST -i -F pdb_file=@/1GX4.pdb -F smiles_file=@/1GX4.smi -F carbohydrate_chains=X -F carbohydrate_names=NAG_GAL

# Submitting a job using PDB ID
curl http://biosig.unimelb.edu.au/csm_carbohydrate/api/SinglePredictionApi -X POST -i -F pdb_code=1GX4 -F smiles=[C@@H]1([C@@H]([C@H]([C@@H]([C@@H](CO)O1)O[C@H]1[C@@H]([C@H]([C@H]([C@@H](CO)O1)O)O)O)O)NC(=O)C)O -F carbohydrate_chains=X -F carbohydrate_names=NAG_GAL

# Retrieving a result with JOB ID
curl http://biosig.unimelb.edu.au/csm_carbohydrate/api/SinglePredictionApi -X GET -F job_id=161201667873
                </code></pre><br>

                2. or running <a href="http://bitbucket.org/ascherslab/workspace/snippets/M9b6X6" target="_blank">PYTHON scripts <i class="fas fa-external-link-alt"></i></a><br>
                <pre><code class="language-bash"># Submitting a job using PDB FILE
python csm_carbohydrate_single_prediction_post.py --pdb_file 1GX4.pdb --smiles_file 1GX4.smi --carbohydrate_chains X --carbohydrate_names NAG_GAL

# Submitting a job using PDB ID
python csm_carbohydrate_single_prediction_post.py --pdb_code 1GX4 --smiles [C@@H]1([C@@H]([C@H]([C@@H]([C@@H](CO)O1)O[C@H]1[C@@H]([C@H]([C@H]([C@@H](CO)O1)O)O)O)O)NC(=O)C)O --carbohydrate_chains X --carbohydrate_names NAG_GAL

# Retrieving a result with JOB ID
python csm_carbohydrate_single_prediction_get.py --job_id 161201677094
                </code></pre>
            </div>
        </div>
    </div>
{% endblock container %}

{% block external_js %}
    <script type="text/javascript"
            src="{{ url_for('static',filename='owlcarousel-2.3.4/js/owl.carousel.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                lazyLoad: true,
                loop: true,
                margin: 2,
                autoHeight:true,
                nav:false
            });

            var carouselEL = $('.owl-carousel');

            carouselEL.owlCarousel({
                items:6
            });

            $(".my-next-button").click(function(){
                carouselEL.trigger('next.owl.carousel');
            });

            $(".my-previous-button").click(function(){
                carouselEL.trigger('prev.owl.carousel');
            });
        });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, 'inDuration');
          
});

  // Or with jQuery

  $(document).ready(function(){
      $('.materialboxed').materialbox();
        
  });
</script>

{% endblock external_js %}

