<!DOCTYPE html>

<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}CSM-carbohydrate{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CSM-carbohydrate WebServer">
        <meta name="author" content="Thanh Binh Nguyen">


        <!-- Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='')  }}materialize/css/materialize.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='')  }}fontawesome-5.3.1/css/all.css"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='')  }}img/favicon.ico"/>
        <style type="text/css">
            .navbar-expand-lg .navbar-nav .nav-link{
                padding:15px;
            }
            nav .nav-wrapper {
                background:white;
                border:black;
            }
            nav .brand-logo {
                color: #333;
                font-size:40px;
                padding-left:10px;
            }
            .no-shadows {
                    box-shadow: none!important;

            }
            pre {
                font-family: 'Source Code Pro', monospace;
                margin: 0px 0px;
                font-size: 10pt;
            }
            body {
                font-family: Roboto,sans-serif;
                font-size: 20px;
                color: #333;
            }
            
            .material-tooltip{
                background-color: #e3e3e3;
                color: #333333;
                max-width: 300px;
            }

            td.dreta {
                text-align: right;
            }

            .img-center {
                text-align: center;
            }
/*
            .container {
                margin:30px;
            }
*/
            h3 {
                font-size: 2.3rem;
                margin-top:5px;
                margin-bottom:1px;
            }

            h4 {
                font-size:18px;
                margin:0px;
            }
            h5 {
                font-size:14px;
                margin:0px;
            }
            .pulse {
                margin: 1px;
                display: inline-block;
                width: 17px;
                height: 17px;
                border-radius: 70%;
                background: #989d97;
                cursor: pointer;
                box-shadow: 0 0 0 rgba(232, 238, 231, 0.4);
                animation: pulse 1s infinite;
            }

            .pulse:hover {
                animation: none;
            }
            .patron-footer img{
                max-width:180px;
                max-height:100%;
                vertical-align:middle;                    
                display: inline-block;
            }
            
            .patron-footer {
                vertical-align:middle;                    
                float: left;
            }

            @-webkit-keyframes pulse {
                0% {
                    -webkit-box-shadow: 0 0 0 0 rgba(211, 216, 210, 0.4);
                }
                70% {
                    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
                }
                100% {
                    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                }
            }

            @keyframes pulse {
                0% {
                    -moz-box-shadow: 0 0 0 0 rgba(238, 132, 142, 0.4);
                    box-shadow: 0 0 0 0 rgba(238, 132, 142, 0.4);
                }
                70% {
                    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
                    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
                }
                100% {
                    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
                }
            }
            nav ul a {
                color:#333333;
            }
        </style>

        {% block extra_css %}
        {% endblock extra_css %}
    {% endblock head %}
</head>

<body>

<!-- MAIN CONTENT -->
<div class="container">
<!-- TOP BAR NAVIGATION -->
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="{{ url_for('index') }}"><font style="font-family: 'Playball', cursive; font-size: 36px;font-weight: normal; padding-left:0px;">CSM-carbohydrate</font></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('prediction_pages') }}"><i class="fas fa-chart-bar"></i> Predict</a></li>
                <li><a href="{{ url_for('api_docs') }}"><i class="fas fa-cogs"></i> API</a></li>
                <li><a href="{{ url_for('display_datasets') }}"><i class="fas fa-database"></i> Dataset</a></li>
                <li><a href="{{ url_for('display_help') }}"><i class="far fa-question-circle"></i> Help</a></li>
                <li><a href="http://biosig.unimelb.edu.au/biosig/contact"><i class="fas fa-envelope"></i> Contact</a></li>
                <li><a href="http://biosig.unimelb.edu.au/biosig/acknowledgements"><i class="fas fa-thumbs-up"></i> Acknowledgements</a></li>
            </ul>
        </div>
    </nav>
    {% block container %}
    {% endblock container %}
</div>

<footer class="footer" style="bottom:0;padding-top:5px;">
    {% block footer %}
    <div class="container">
    <div class="row">
        <div class="col s8" style="padding-left:0px;">
            <img class="col s4 m3" style="padding-left:0px;" src='{{ url_for('static', filename='') }}img/university_melbourne.jpg' width="200" />
            <img class="col s4 m2"style="padding-left:0px;" src='{{ url_for('static', filename='') }}img/baker_logo.svg' width="200"/>
{#            <img class="col s4 m3" style="padding-left:0px;" src='{{ url_for('static', filename='') }}img/cambridge.gif' width="200"/>#}
        </div>
        <div class="col s4">
           <div class="row" style="margin:0px;">
            <a class="float-right" href="http://opendefinition.org/okd" target='_blank'>
                <img alt="This material is Open Knowledge" src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png"/></a>
           </div>
            <!-- /Open Knowledge Link -->
            <div class="row" style="margin:0px;">
            <font color="#616d7e">
                <small class="float-right" style="font-size:50%;">Best viewed using <a href="http://www.google.com/chrome">Chrome</a> on 1280x1024 resolution and above </small>
            </font>
            </div>
        </div>
    </div>
    </div>
</footer>
{% endblock footer %}

<script type="text/javascript" src="{{ url_for('static', filename='')  }}js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='')  }}materialize/js/materialize.min.js"></script>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.tooltipped').tooltip({
            html:true,
        });
            
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9CD15BEBS1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9CD15BEBS1');
</script>
{% block external_js %}
{% endblock external_js %}
</body>
</html>
