{% extends 'base.html' %}

{% block container %}
    <style>
span {
    color:#616161;
}
        .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .3rem .55rem;
            margin-left: 5px;
            font-size: 14px;
            line-height: 1.2;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            border-radius: 0px;
        }
        p {
            padding-left:10px;
                margin:0px;
        }

 </style>
 <div class="row justify-content-center">
     <form class="form" name="submission_type" enctype="multipart/form-data" action='/' method="POST">
         <div class="card-panel ">
             <div class="row">
                 <div class="col s10">
                     <p><b>Training data</b><a href="{{url_for('static',filename='')}}datasets/Training_pcapred_shortlist.txt" target=_blank><img align="left" src='{{ url_for('static', filename='') }}img/csv.png' width=35></a></p></br>
                     <p><b>Bindtest data</b><a href="{{url_for('static',filename='')}}datasets/Blindtest_pcapred_shortlist.txt" target=_blank><img align="left" src='{{ url_for('static', filename='') }}img/csv.png' width=35></a></p>
                 </div>
             </div>
         </div>
 </div>
{% endblock container %}

{% block external_js %}
<script>
</script>

{% endblock %}
