{% extends 'base.html' %}

{% block container %}

    <link rel="stylesheet" href="{{ url_for('static',filename='owlcarousel-2.3.4/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='owlcarousel-2.3.4/css/owl.theme.default.min.css') }}">
    <style type="text/css">
        .owl-carousel{
            position: relative;
        }
        .owl-dots {
            position: absolute;
            top:-7px;
            left:25%;
            right:25%;
        }
    </style>
    <div class="row" style="margin-top:20px;">
        <div class="col s12">
            <div class="row" style="margin-top:10px;"></div>
            <div class="row" style="text-align:center;">
                    <button type="button" class="btn btn-outline-dark btn-sm my-previous-button">Previous</button>
                    <button type="button" class="btn btn-outline-dark btn-sm my-next-button">Next</button>
            </div>
    <div class="owl-carousel owl-theme" style="padding-top:20px;">
        <div class="item">
            <div class="row">
                <div class="col s12">
                    <h4> <b>1.Submission Page</b></h4>
                    <br>
                </div>
                <div class="col s8">
                    <img class="materialboxed" src="{{ url_for('static' ,filename='help/prediction.png') }}">
                </div>
                <div class="col s4">
                    <p class="justify" style="font-size:15px;">
                    1. Provide a protein-carbohydrate complex by either of <b>PDB file or PDB code.</b><br><br>
                    2. Provide a SMILES of carbohydrate by either of <b>SMILE file or SMILE.</b><br><br>
                    3. Provide a chain of carbohydrate <br><br>
                    4. Provide the names of all carbohydrates, seperated by '_' <br><br>
                    5. By providing an <b>e-mail</b> address, user can a notification email, after job completion.<br><br>
                    6. To visit<b> example</b> pages for each mode, users have to select a prediction mode from step 2 and hit 'Run Example' button.<br><br>
                    7. Click <b>RUN PREDICTION</b> to get your prediction result.<br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col s12">
                    <h4><b> 2.Result Page- Prediction  Mode</b></h4>
                    <br>
                </div>
                <div class="col s8">
                    <img class="materialboxed" src="{{ url_for('static' ,filename='help/2.png') }}">
                </div>
                <div class="col s4">
                    <p class="justify" style="font-size:15px;">
                    The result page of <b>Prediction Mode</b> is divided into three sections:<br><br>  
                    1. The <b>Mutation Table</b> section gives predicted ∆∆G and distance among mutants. If the mutation is more than two per case, the distance bw mutants shows distances between the centroid of each mutant and each Calpha carbon.<br>
                    Users can browse mutations in the wild-type structure via <b>3D Visualisation</b> ticking a checkbox of each multiple mutation from Mutation Table.<br><br>
                    2. The <b>3D Visualisation</b> provides wild-type atomic interactions of a given multiple point mutation. Using control panel, users are able to change the representation of structure.<br><br>
                    3. Each molecule and interaction (the colours are matched with the dashed-line in 3D viewer) can be turned on/off using switches. <br><br>
                        4. The mutation and interaction information can be <b>downloaded</b> as Pymol-session(PSE) and CSV file, respectively.
                    </p>
                </div>
            </div>
        </div>
        
{% endblock container %}

{% block external_js %}
    <script type="text/javascript"
            src="{{ url_for('static',filename='owlcarousel-2.3.4/js/owl.carousel.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                lazyLoad: true,
                loop: true,
                margin: 2,
                autoHeight:true,
                nav:false
            });

            var carouselEL = $('.owl-carousel');

            carouselEL.owlCarousel({
                items:6
            });

            $(".my-next-button").click(function(){
                carouselEL.trigger('next.owl.carousel');
            });

            $(".my-previous-button").click(function(){
                carouselEL.trigger('prev.owl.carousel');
            });
        });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, 'inDuration');
          
});

  // Or with jQuery

  $(document).ready(function(){
      $('.materialboxed').materialbox();
        
  });
</script>

{% endblock external_js %}

