{% extends 'base.html' %}

{% block extra_css %}
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col s12">
            <p style="font-size:1.8rem;margin-bottom:0px;margin-top:15px;"><b>CSM-carbohydrate: protein-carbohydrate binding affinity prediction and docking scoring function</b></p>
        </div>
        <div class="col s12" style="padding-left:10px;font-size:18px;">
            <a href="https://scholar.google.co.uk/citations?user=tHGepncAAAAJ&hl=en&citsig=AMD79orR1zyx16fK7RVJpi8flD8FHmC2-g">Thanh Binh Nguyen</a>,
            <a href="https://scholar.google.com/citations?user=6T21X64AAAAJ&hl=en">Douglas E. V. Pires</a>,
            <a href="https://scholar.google.com/citations?user=7KrAVc0AAAAJ&hl=en">David B. Ascher</a>
            <br>
            {#        <a href="{{ url_for('static', filename='to_be_added.pdf') }}" style="color:black;"> <b>Nucleic Acids Research, v.##(W#), p. W#-#, 2021</b>#}
            {#        <i class="fas fa-file-pdf"></i>#}
            {#        </a>#}
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col s6" style="padding-top:20px;">
                <p align="justify" style="font-size:15px;">Protein–carbohydrate interactions are crucial for many cellular processes, but can be challenging to biologically characterise. To improve our understanding and ability to model these molecular interactions, we used a carefully curated set of 370 protein–carbohydrate complexes with experimental structural and biophysical data. We next trained and validated our tool, CSM-carbohydrate, using machine learning algorithms to accurately predict their binding affinity and rank docking poses as a scoring function.<br> <br>
We show CSM-carbohydrate significantly outperformed previous approaches and have implemented our method and made all data freely available through both a user-friendly web interface and API, to facilitate programmatic access. We believe CSM-carbohydrate will be an invaluable tool for helping assess docking poses and the effects of mutations on protein-carbohydrate affinity, unravelling important aspects that drive binding recognition. 
                </p>
            </div>
            <div class="col s6" style="padding-top:20px;">
                <img class="materialboxed" width="100%" src="{{ url_for('static', filename='') }}img/test.png">
            </div>
        </div>
    </div>
{% endblock container %}

{% block external_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, 'inDuration');

        });

        // Or with jQuery

        $(document).ready(function () {
            $('.materialboxed').materialbox();

        });
    </script>

{% endblock %}
