{% extends 'base.html' %}

{% block title %}CSM-Carbohydrate | Prediction{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/DataTables-1.10.18/css/jquery.dataTables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Select-1.2.6/css/select.dataTables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Buttons-1.5.2/css/buttons.dataTables.min.css') }}"/>
{% endblock extra_css %}

{% block container %}
<style>
.link.hbond{
        stroke:red;
}
.link.ionic{
        stroke:#FFEB3B;

}
.link.covalent{
        stroke:#D35400;

}
.link.vdw{
        stroke:#BBDEFB;

}
.link.hbond{
        stroke:#EF5350;

}
.link.halogen{
        stroke:#F4D03F;

}
.link.metal_complex{
        stroke:#AED6F1;

}
.link.aromatic{
        stroke:#AED581;

}
.link.hydrophobic{
        stroke:#4CAF50;

}
.link.carbonyl{
        stroke:#2196F3;

}
.link.polar_hbond{
        stroke:#FFCC80;

}
.link.PIints{
        stroke:#FA6AFF

}
.link.ring{
        stroke:#5D4037;

}
.switch.wt input[type=checkbox]:checked+.lever {
        background-color: #9e9e9e;

}
.switch.wt input[type=checkbox]:checked+.lever:after {
        background-color: #757575;

}
.switch.mt input[type=checkbox]:checked+.lever {
        background-color: #9e9e9e;

}
.switch.mt input[type=checkbox]:checked+.lever:after {
        background-color: #757575;

}
.switch.PIints input[type=checkbox]:checked+.lever {
        background-color: #f48fb1;

}
.switch.PIints input[type=checkbox]:checked+.lever:after {
        background-color: #f06292;

}
.switch.vdw input[type=checkbox]:checked+.lever {
        background-color: #bbdefb;

}
.switch.vdw input[type=checkbox]:checked+.lever:after {
        background-color: #90caf9;

}
.switch.hbond input[type=checkbox]:checked+.lever {
        background-color: #ef5350;

}
.switch.hbond input[type=checkbox]:checked+.lever:after {
        background-color: #f44336;

}
.switch.ionic input[type=checkbox]:checked+.lever {
        background-color: #fff9c4;

}
.switch.ionic input[type=checkbox]:checked+.lever:after {
        background-color: #ffeb3b;

}
.switch.aromatic input[type=checkbox]:checked+.lever {
        background-color: #dcedc8;

}
.switch.aromatic input[type=checkbox]:checked+.lever:after {
        background-color: #aed581;

}
.switch.hydrophobic input[type=checkbox]:checked+.lever {
        background-color: #a5d6a7;

}
.switch.hydrophobic input[type=checkbox]:checked+.lever:after {
        background-color: #4caf50;

}
.switch.carbonyl input[type=checkbox]:checked+.lever {
        background-color: #64b5f6;

}
.switch.carbonyl input[type=checkbox]:checked+.lever:after {
        background-color: #2196f3;

}
.switch.polar input[type=checkbox]:checked+.lever {
        background-color: #ffcc80;

}
.switch.polar input[type=checkbox]:checked+.lever:after {
        background-color: #ff9800;

}
.switch.ring input[type=checkbox]:checked+.lever {
        background-color: #a1887f;

}
.switch.ring input[type=checkbox]:checked+.lever:after {
        background-color: #5d4037;

}
div.dt-buttons{
    float: right;
    margin-top:5px;
}

td {
    text-align:center;
}
th {
    text-align:center;
}
canvas {
    padding: 5px;
    margin: 5px;
    display: block;
    width: auto;
    height: 600px;
    position: relative;
    align-content: center;
}

.section {
    padding-top:0px;
}
.card-header {
    padding: .25rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.btn-outline-light {
    border: 1px solid rgba(0, 0, 0, .125);
    color: #616d7e;
}
.select-wrapper input.select-dropdown {
    font-size: 13px;
}
body {
    font-size: 13px;
}
p {
    font-size: 14px;
    margin: 0;
}

label.btn.btn-outline-dark.btn-block {
    margin: 0px;
}

.card-title {
    font-weight: bolder;
    font-family: arial black;
}   
.btn-white {
    background-color: white;
    color: #616d7e;
}
.five-columns{
    display:flex;
    margin: 0.5% !important;
}

</style>

<div class="row" style="text-align:center;font-family:arial black;margin:0px;">
    <h2 style="padding:0px;">Prediction Results</h2>
</div>
<div class="section"></div>
<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="card-title"><strong>Prediction Table</strong></div>
                {% autoescape false %}
                <table id="result_single" class="responsive row-border table-hove" style="width:100%">
                    <thead>
                    <tr>
                        <th> Active</th>
                        <th data-priority="1"> Carbohydrate </th>
                        <th data-priority="2"> Chain </th>
                        <th data-priority="3"> &Delta;G<sub>affinity</sub> <i
                                class="far fa-question-circle tooltipped"
                                data-position="top" title=""
                                data-original-title="&Delta;G<sub>affinity</sub></b>"
                                data-tooltip="&Delta;<b>G<sub>affinity</sub> <br> The binding affinity between protein and carbohydrate is meassured in kcal/mol."></i>
                        <th data-priority="4"> Hydrophobic </th>
                        <th data-priority="5"> PEOE_VSA6 </th>
                        <th data-priority="6"> Neut:Pos-2.00 </th>
                        <th data-priority="7"> Aro:Aro-2.00 </th>
                        <th data-priority="8"> Neg:Neut-2.00 </th>
                        <th data-priority="9"> Aro:Hydro-2.00 </th>
                        <th data-priority="10"> Hydro:Hydro-3.00 </th>
                        <th data-priority="11"> Neut:Pos-3.00 </th>
                        <th data-priority="12"> Inter-Hydro:O_at-4.00 </th>
                        <th data-priority="13"> Inter-Acc:Acc-4.00 </th>
                        <th data-priority="14"> Inter-Neg:O_at-5.00 </th>
                        <th data-priority="15"> Acc:Pos-5.00 </th>
                        <th data-priority="16"> Inter-Aro:C_at-5.00 </th>
                        <th data-priority="17"> Inter-Don:Hydro-6.00 </th>
                        <th data-priority="18"> Hydro:Hydro-6.00 </th>
                        <th data-priority="19"> Inter-Acc:Aro-7.00 </th>
                        <th data-priority="20"> Aro:Neg-8.00 </th>
                        <th data-priority="21"> Pos:Pos-8.00 </th>
                        <th data-priority="22"> Neg:Neg-8.00 </th>
                        <th data-priority="23"> Inter-Hydro:Neg-9.00 </th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                  
                    <td></td>
                    <td> {{ CHO_name }} </td>
                    <td> {{ CHO_chain }} </td>
                    <td> {{ prediction }}</td>
                    <td> {{ features_chosen["Hydrophobic"][0] }}</td>
                    <td> {{ features_chosen["PEOE_VSA6"][0] }}</td>
                    <td> {{ features_chosen["Neut:Pos-2.00"][0] }}</td>
                    <td> {{ features_chosen["Aro:Aro-2.00"][0] }}</td>
                    <td> {{ features_chosen["Neg:Neut-2.00"][0] }}</td>
                    <td> {{ features_chosen["Aro:Hydro-2.00"][0] }}</td>
                    <td> {{ features_chosen["Hydro:Hydro-3.00"][0] }}</td>
                    <td> {{ features_chosen["Neut:Pos-3.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Hydro:O_at-4.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Acc:Acc-4.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Neg:O_at-5.00"][0] }}</td>
                    <td> {{ features_chosen["Acc:Pos-5.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Aro:C_at-5.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Don:Hydro-6.00"][0] }}</td>
                    <td> {{ features_chosen["Hydro:Hydro-6.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Acc:Aro-7.00"][0] }}</td>
                    <td> {{ features_chosen["Aro:Neg-8.00"][0] }}</td>
                    <td> {{ features_chosen["Pos:Pos-8.00"][0] }}</td>
                    <td> {{ features_chosen["Neg:Neg-8.00"][0] }}</td>
                    <td> {{ features_chosen["Inter-Hydro:Neg-9.00"][0] }}</td>

                    </tr>
                    </tbody>
                </table>
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content" style="padding-bottom:1px;">
                <div class="card-title"><strong>3D Visualisation</strong></div>
                <div class="row">
                    <div class="row col-12" style="margin:0px;padding:0px">
                        <div class="col s4 m4 l4">
                            <select class="tail-select-ns" name="backgroundColor" id="backgroundColor" style="display:inline-block">
                                <option value="default" selected>Background color</option>
                                <option value="white">White</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <h6>Molecules</h6>
                    </div>
                    <div class="col s6 m4 l4 center-align" style="display:inline-block">
                        <p>Protein</p>
                        <div class="switch protein">
                            <label>
                                Hide
                                <input id="switch_3D_protein" type="checkbox" checked>
                                <span class="lever"></span>
                                Show
                            </label>
                        </div>
                    </div>
                   
                    <div class="col s6 m4 l4 center-align">
                        <p>Carbohydrate</p>
                        <div class="switch hetero">
                            <label>
                                Hide
                                <input id="switch_3D_hetero" type="checkbox" checked style="display:inline-block">
                                <span class="lever"></span>
                                Show
                            </label>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <h6>Interactions</h6>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="col s3 center-align">
                            <p>PI interaction</p>
                            <div class="switch PIints">
                                <label>
                                    Hide
                                    <input id="PIints" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>VDW</p>
                            <div class="switch vdw">
                                <label>
                                    Hide
                                    <input id="vdw" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>Hydrogen Bond</p>
                            <div class="switch hbond">
                                <label>
                                    Hide
                                    <input id="hbond" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>Ionic</p>
                            <div class="switch ionic">
                                <label>
                                    Hide
                                    <input id="ionic" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <div class="col s3 center-align">
                            <p>Aromatic</p>
                            <div class="switch aromatic">
                                <label>
                                    Hide
                                    <input id="aromatic" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>Hydrophobic</p>
                            <div class="switch hydrophobic">
                                <label>
                                    Hide
                                    <input id="hydrophobic" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>Carbonyl</p>
                            <div class="switch carbonyl">
                                <label>
                                    Hide
                                    <input id="carbonyl" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                        <div class="col s3 center-align">
                            <p>Polar</p>
                            <div class="switch polar">
                                <label>
                                    Hide
                                    <input id="polar" type="checkbox" checked>
                                    <span class="lever"></span>
                                    Show
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="singleViewer" style="height:600px;width:auto;text-align:center;overflow:hidden;"></div>
            <button type="button" id="setspin" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                Spin <i
                    class="fa fa-question-circle tooltipped"
                    data-position="top"
                    data-tooltip="Activate/disable Spin</p>"> </i>
            </button>
            <button type="button" id="fullscreen" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                Fullscreen <i
                    class="fa fa-question-circle "
                    data-position="top"
                    data-tooltip="Activate/disable Fullscreen mode"> </i>
            </button>
            <button type="button" id="screenshot" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                Screenshot <i
                    class="fa fa-question-circle tooltipped"
                    data-position="top"
                    data-tooltip="Save screen as an image file"></i>
            </button>
            <button type="button" id="resetView" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                Reset View
                <i class="fa fa-question-circle tooltipped"
                   data-position="top"
                   data-tooltip="Reset to the default structure view"></i>
            </button>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="card-title"><strong>Download</strong></div>
                <div class="row">
                    <div class="col s12">
                        <br>
                        <div class="col s6" style="text-align:center;"><a
                                href="{{ url_for('static', filename='') }}results_file/{{ run_id }}/{{ run_id }}.csv" )
                                }}> <h4><b> <i class="fas fa-table fa-lg"></i> Result(csv) file </b></h4></a></div>
                        <div class="col s6" style="text-align:center;"><a
                                onclick="M.toast({html: 'Pymol V2.3.2 or later is required', classes:'red'})"
                                href="{{ url_for('static', filename='') }}results_file/{{ run_id }}/{{ run_id }}.zip" )
                                }}><h4><b> <i class="fas fa-file-archive fa-lg"></i> Interaction Files(pse) </b></h4>
                        </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}

{% block external_js %}
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/ngl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Select-1.2.6/js/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/single_viewer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3js_v3/d3.min.js') }}"></script>
<script>
    var table;
    var position_list=[];
    var wild_viewer;
    var pdb_uri = "{{ url_for('static', filename='') }}results_file/{{ run_id }}/wt.pdb";
    var wild_int = ({{ Arpeggio_wild_interactions|safe}});
    var wild_PIint = ({{ Arpeggio_wild_PIinteractions|safe }});
    var wild_PIintResidues = ({{ Arpeggio_wild_PIinteracting_residues|safe }});
    $(document).ready(function () {
        table = $('#result_single').DataTable({
            dom: 'frtip',
            searching:false,
            paging:false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']],
            autoFill:{
                columns: ':not(:first-child)'
            }
        });
        setTimeout(function() {
            table.row(':eq(0)').select();
            sync_mutation_with_viewer();
        }, 1000);
    });

    $(document).on('click','#result_single td.select-checkbox',function(){
        sync_mutation_with_viewer();
    });


    function sync_mutation_with_viewer() {

        var tblData = table.row('.selected').data();
        position_list.length = 0;
        var tmpData;
        var selected_position_list = tblData[2].split(';');
        selected_position_list.forEach(element => {
            var position = element.slice(2,element.length-1)
            var chain = element[1]
            position_list.push(position+':'+chain);
        });
        var selected_aa = table.row('.selected').data()[2];
        
       // structure3DApp.viewer.removeAllComponents();
        $('canvas').remove();
        structure3DApp.init("singleViewer", '{{url_for('static',filename='')}}results_file/{{ run_id }}/wt.pdb', {}, position_list.join(" "), {}, wild_int, wild_PIint, wild_PIintResidues);
    };

</script>

{% endblock external_js %}
