{% extends 'base.html' %}

{% block container %}

<h2>Prediction Error</h2>

<br/><br/>

<div class="row fluid">
	<div class="span3">
	</div>
	<div class="span9">
			<div class="alert alert-error">
				<br/>
				{% autoescape false %} 
					{% for m in msg %}
						{{ m }} <br/>
					{% endfor %}
				{% endautoescape %} 
			</div>
			<br/>
			<a type="button" class="btn btn-info" href="{{ url_for('prediction_pages') }}"><i class="icon-repeat"></i> Run another prediction</a></td>
	</div>
</div>

<br/><br/>

{% endblock container %}
