{% extends 'base.html' %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/DataTables-1.10.18/css/jquery.dataTables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Select-1.2.6/css/select.dataTables.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Buttons-1.5.2/css/buttons.dataTables.min.css') }}"/>
{% endblock extra_css %}

{% block container %}
<style>
td {
    text-align:center;
}
th {
    text-align:center;
}
canvas {
    padding: 5px;
    margin: 5px;
    display: block;
    width: auto;
    height: 600px;
    position: relative;
    align-content: center;
}

.section {
    padding-top:0px;
}
.card-header {
    padding: .25rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.btn-outline-light {
    border: 1px solid rgba(0, 0, 0, .125);
    color: #616d7e;
}
.select-wrapper input.select-dropdown {
    font-size: 13px;
}
body {
    font-size: 13px;
}
p {
    font-size: 14px;
    margin: 0;
}

label.btn.btn-outline-dark.btn-block {
    margin: 0px;
}

.card-title {
    font-weight: bolder;
    font-family: arial black;
}   
.btn-white {
    background-color: white;
    color: #616d7e;
}
.five-columns{
    display:flex;
    margin: 0.5% !important;
}
</style>

<div class="row" style="text-align:center;font-family:arial black;margin:0px;">
    <h2 style="padding:0px;">Design Mode Results</h2>
</div>
<div class="section"></div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="card-title"><strong>Mutation Table</strong></div>
                <div class="row" style="text-align:center;">
                    <div class="col s6">
                        <label>
                            <input type="radio" id="datatable_selector1" name="datatable_selector"
                                   value="stabilising_datatable" checked>
                            <span style="color:green;font-size:2rem;">Increased affinities</span>
                        </label>
                    </div>
                    <div class="col s6">
                        <label>
                            <input type="radio" id="datatable_selector2" name="datatable_selector"
                                   value="destabilising_datatable">
                            <span style="color:red;font-size:2rem;">Decreased affinities</span>
                        </label>
                    </div>
                </div>
                {% autoescape false %}
                <table id="result_datatable" class="responsive row-border table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th>Active</th>
                        <th>Mutation <i
                                class="far fa-question-circle tooltipped"
                                data-position="top" title=""
                                data-original-title="<b>Type of Mutation</b>"
                                data-tooltip="Show the top 100 stabilising/or destabilising mutations (upto triple mutation) based on all possible combinations of mutations in the binding interface."></i>
                        </th>
                        <th>&Delta;&Delta;G<sub>affinity</sub> <i
                                class="far fa-question-circle tooltipped"
                                data-position="top" title=""
                                data-original-title="<b>&Delta;&Delta;G<sub>affinity</sub></b>"
                                data-tooltip="&Delta;&Delta;<b>G<sub>affinity</sub> > 0</b> : <b style='color:blue;'> increased affinity</b><br> &Delta;&Delta;<b>G<sub>affinity</sub> = 0 </b>: <b style='color:green;'>neutral</b> <br> &Delta;&Delta;<b>G<sub>affinity</sub> < 0</b> : <b style='color:red;'>decreased affinity</b>"></i>
                        </th>
                    </tr>
                    </thead>
                </table>
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content" style="padding-bottom:1px;">
                <div class="card-title"><strong>3D Visualisation</strong></div>
                <div class="row">
                    <div class="row col-12" style="margin:0px;padding:0px">
                        <div class="col s3 m3 l3">
                            <select class="select" name="backgroundColor" id="backgroundColor">
                                <option value="default" selected>Background color</option>
                                <option value="white">White</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <h6>Molecules</h6>
                    </div>
                    <div class="col s6 m4 l4 center-align">
                        <p>Protein</p>
                        <div class="switch protein">
                            <label>
                                Hide
                                <input id="switch_3D_protein" type="checkbox" checked>
                                <span class="lever"></span>
                                Show
                            </label>
                        </div>
                    </div>
                    <div class="col s6 m4 l4 center-align">
                        <p>Nucleic Acid</p>
                        <div class="switch dna">
                            <label>
                                Hide
                                <input id="switch_3D_dna" type="checkbox" checked>
                                <span class="lever"></span>
                                Show
                            </label>
                        </div>
                    </div>
                    <div class="col s6 m4 l4 center-align">
                        <p>Hetero</p>
                        <div class="switch hetero">
                            <label>
                                Hide
                                <input id="switch_3D_hetero" type="checkbox" checked>
                                <span class="lever"></span>
                                Show
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="designViewer" style="height:600px;width:auto;text-align:center;overflow:hidden;"></div>
            <button type="button" id="setspin" class="btn waves-effect waves-light btn-white col s12 m6 l3">
                Spin <i
                    class="fa fa-question-circle tooltipped"
                    data-position="top"
                    data-tooltip="Activate/disable Spin</p>"> </i>
            </button>
            <button type="button" id="fullscreen" class="btn waves-effect waves-light btn-white col s12 m6 l3">
                Fullscreen <i
                    class="fa fa-question-circle "
                    data-position="top"
                    data-tooltip="Activate/disable Fullscreen mode"> </i>
            </button>
            <button type="button" id="screenshot" class="btn waves-effect waves-light btn-white col s12 m6 l3">
                Screenshot <i
                    class="fa fa-question-circle tooltipped"
                    data-position="top"
                    data-tooltip="Save screen as an image file"></i>
            </button>
            <button type="button" id="resetView" class="btn waves-effect waves-light btn-white col s12 m6 l3">
                Reset View
                <i class="fa fa-question-circle tooltipped"
                   data-position="top"
                   data-tooltip="Reset to the default structure view"></i>
            </button>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:0px;">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <div class="card-title"><strong>Download</strong></div>
                <div class="row">
                    <div class="col s12">
                        <br>
                        <div class="col s6" style="text-align:center;"><a
                                href="{{ url_for('static', filename='') }}example/design/stabilising.csv" ) }}><h4><b>
                            <i class="fas fa-table fa-lg"></i> Result(Increased) csv file </b></h4></a></div>
                        <div class="col s6" style="text-align:center;"><a
                                href="{{ url_for('static', filename='') }}example/design/destabilising.csv" ) }}><h4><b>
                            <i class="fas fa-table fa-lg"></i> Result(Decreased) csv file </b></h4></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container %}

{% block external_js %}
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/ngl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Select-1.2.6/js/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/design_viewer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3js_v3/d3.min.js') }}"></script>
<script>
    var datatable;
    var position_list=[];
    function showDataTable(typeofdatatable){
        datatable = $('#result_datatable').DataTable({
            processing: true,
            retrieve:true,
            paging:true,
            destroy:true,
            dom: 'frtipB',
            ajax: '/example_datatable/design/'+typeofdatatable,
            columns: [
            {data:null,defaultContent:""},
          //  {data:"3"},
            {data:"1"},
         //   {data:"2"},
            {data:"0"}
            ],
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[0, 'asc']],
            autoFill:{
                columns: ':not(:first-child)'
            }
        });
        setTimeout(function() {
            datatable.row(':eq(0)').select();
            sync_mutation_with_viewer();
        }, 1000);
    };
    
    function sync_mutation_with_viewer() {
        var tblData = datatable.rows('.selected').data();
        position_list.length = 0;
        var tmpData;
        var selected_position_list = tblData[0][1];
        selected_position_list.forEach(element => {
            var position = element.slice(2,element.length-1)
            var chain = element[1]
            if(position.match(/^[0-9]+$/) != null ){
                position_list.push(position+':'+chain);
            }else{
                position_list.push(position.slice(0,-1)+'^'+position.slice(-1)+':'+chain);
            }
        });
        console.log(position_list);
        structure3DApp.viewer.removeAllComponents();
        $('canvas').remove();
        structure3DApp.init("designViewer", pdb_uri, position_list);
    };
    
    $(document).ready(function () {
        showDataTable('stabilising');
    });
    
    $(document).on('click','#result_datatable td.select-checkbox',function(){
        sync_mutation_with_viewer();
    });
    
    $('input[type=radio]').change(function () {
        if($('input[name=datatable_selector]:checked').val()=='stabilising_datatable'){
            datatable.destroy();
            showDataTable('stabilising');
        }else{
            datatable.destroy();
            showDataTable('destabilising');
        }
    });
</script>
<script>
    var pdb_uri = "{{ url_for('static', filename='') }}example/design/wt_cleaned.pdb";
    var wild_viewer = structure3DApp.init("designViewer", pdb_uri, '.');
    var protein_chains = ('{{ protein_chains}}').split(',');
</script>
{% endblock external_js %}
