{% extends 'base.html' %}

{% block title %}CSM-Carbohydrate | Prediction{% endblock title %}

{% block extra_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/material_extra.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.material.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/DataTables-1.10.18/css/jquery.dataTables.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Select-1.2.6/css/select.dataTables.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatable/Buttons-1.5.2/css/buttons.dataTables.min.css') }}"/>
<style>
    .link.hbond{
        stroke:red;
    }
    .link.ionic{
            stroke:#FFEB3B;

    }
    .link.covalent{
            stroke:#D35400;

    }
    .link.vdw{
            stroke:#BBDEFB;

    }
    .link.hbond{
            stroke:#EF5350;

    }
    .link.halogen{
            stroke:#F4D03F;

    }
    .link.metal_complex{
            stroke:#AED6F1;

    }
    .link.aromatic{
            stroke:#AED581;

    }
    .link.hydrophobic{
            stroke:#4CAF50;

    }
    .link.carbonyl{
            stroke:#2196F3;

    }
    .link.polar_hbond{
            stroke:#FFCC80;

    }
    .link.PIints{
            stroke:#FA6AFF

    }
    .link.ring{
            stroke:#5D4037;

    }
    .switch.wt input[type=checkbox]:checked+.lever {
            background-color: #9e9e9e;

    }
    .switch.wt input[type=checkbox]:checked+.lever:after {
            background-color: #757575;

    }
    .switch.mt input[type=checkbox]:checked+.lever {
            background-color: #9e9e9e;

    }
    .switch.mt input[type=checkbox]:checked+.lever:after {
            background-color: #757575;

    }
    .switch.PIints input[type=checkbox]:checked+.lever {
            background-color: #f48fb1;

    }
    .switch.PIints input[type=checkbox]:checked+.lever:after {
            background-color: #f06292;

    }
    .switch.vdw input[type=checkbox]:checked+.lever {
            background-color: #bbdefb;

    }
    .switch.vdw input[type=checkbox]:checked+.lever:after {
            background-color: #90caf9;

    }
    .switch.hbond input[type=checkbox]:checked+.lever {
            background-color: #ef5350;

    }
    .switch.hbond input[type=checkbox]:checked+.lever:after {
            background-color: #f44336;

    }
    .switch.ionic input[type=checkbox]:checked+.lever {
            background-color: #fff9c4;

    }
    .switch.ionic input[type=checkbox]:checked+.lever:after {
            background-color: #ffeb3b;

    }
    .switch.aromatic input[type=checkbox]:checked+.lever {
            background-color: #dcedc8;

    }
    .switch.aromatic input[type=checkbox]:checked+.lever:after {
            background-color: #aed581;

    }
    .switch.hydrophobic input[type=checkbox]:checked+.lever {
            background-color: #a5d6a7;

    }
    .switch.hydrophobic input[type=checkbox]:checked+.lever:after {
            background-color: #4caf50;

    }
    .switch.carbonyl input[type=checkbox]:checked+.lever {
            background-color: #64b5f6;

    }
    .switch.carbonyl input[type=checkbox]:checked+.lever:after {
            background-color: #2196f3;

    }
    .switch.polar input[type=checkbox]:checked+.lever {
            background-color: #ffcc80;

    }
    .switch.polar input[type=checkbox]:checked+.lever:after {
            background-color: #ff9800;

    }
    .switch.ring input[type=checkbox]:checked+.lever {
            background-color: #a1887f;

    }
    .switch.ring input[type=checkbox]:checked+.lever:after {
            background-color: #5d4037;

    }
    i.right {
        margin-left: 5px;
    }
    mark {
        background-color: #26a69a;
        color: white;
        font-weight: bold;
    }
    table#resultsTable.dataTable.no-footer{
        border-bottom: none;
    }
    th, td{
        white-space: nowrap;
        background-color: white;
    }
    .mdl-button--raised.mdl-button--colored {
        background: #fafafa;
        color: #424242;
    }
    .mdl-button.mdl-button--colored {
        background: #e0e0e0;
        color: #424242;
    }
    .mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover {
        background-color: #fafafa;
    }
    .dataTables_empty{
        text-align:center !important;
    }
    select{
        background-color: rgba(255,255,255,0.9);
        /* width: inherit; */
        /* display: inherit; */
        padding: 5px;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        height: 3rem;
    }
    .blue-grey.lighten-5 {
        background-color: #eceff1 !important;
    }
	.mdl-button{
		font-size:10px;
		padding: 5px;
		height:30px;
		min-width:30px;
		vertical-align:middle;
		line-height:25px;
	}
	#resultsTable{
		font-size:12px;
        width:100%!important;
	}
	.mdl-grid {
		font-size: 12px;
	}
	td, th {
		padding: 5px 5px;
	}
</style>
{% endblock extra_css %}

{% block searchbar %}
{% endblock searchbar %}

{% block content %}
<div class="container">
    <div class="row" style="text-align:center;font-family:arial black;margin:0px;">
        <h2 style="padding:0px;">Prediction Results</h2>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content" style="padding-bottom:1px;">
                    <div class="card-title"><strong>Prediction Table</strong></div>
                    {% autoescape false %}
                    <table id="result_table" class="responsive row-border table-hove" style="width:100%">
                        <thead>
                        <tr>
                            <th> Active</th>
                            <th data-priority="1"> Carbohydrate </th>
                            <th data-priority="2"> Chain</th>
                            <th data-priority="3"> &Delta;G<sub>affinity</sub> <i
                                class="far fa-question-circle tooltipped"
                                data-position="top" title=""
                                data-title="<b>&Delta;G<sub>affinity</sub></b>"
                                data-tooltip="&Delta;<b>G<sub>affinity</sub> </b>  The binding affinity between protein and carbohydrate is meassured in kcal/mol."></i></th>
                            <!-- <th data-priority="4"> Outcome</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        {% if prediction > 0.00 %}

                            <tr class="table-primary">
                                {% elif prediction  < 0.00 %}
                            <tr class="orange">
                                {% elif prediction == 0.00 %}
                            <tr class="table-success">
                        {% endif %}
                        <td></td>
                        <td> {{ smiles[0] }}  </td>
                        <td> {{ chain }} </td>
                        <td> {{ prediction }}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endautoescape %}

                    <!-- <h5><b>Predicted binding affinity (∆G)</b>: {{ prediction }} Kcal/mol</h5><br>
                    <h5><b>Mutations</b> {{ mutations }} </h5><br> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content" style="padding-bottom:1px;">
                    <div class="card-title"><strong>3D Visualisation</strong></div>
                    <div class="row">
                        <div class="row col-12" style="margin:0px;padding:0px">
                            <div class="col s4 m4 l4">
                                <select class="tail-select-ns" name="backgroundColor" id="backgroundColor" style="display:inline-block">
                                    <option value="default" selected>Background color</option>
                                    <option value="white">White</option>
                                    <option value="black">Black</option>
                                </select>
                            </div>

                            <div class="col s4 m4 l4">
                                <select class="tail-select-ns" name="select-style_protein" id="select-style_protein" style="display:inline-block">
                                    <option value="cartoon" selected>Show Protein as cartoon</option>
                                    <option value="ball+stick">ball+stick</option>
                                    <option value="licorice">licorice</option>
                                    <option value="spacefill">spacefill</option>
                                    <option value="surface">surface</option>
                                </select>
                            </div>

                            <div class="col s4 m4 l4">
                                <select class="tail-select-ns" name="select-colorScheme_protein" id="select-colorScheme_protein" style="display:inline-block">
                                    Colored By<i class="fa fa-question-circle tooltipped" data-toggle="tooltip"
                                        data-position="top" title=""
                                        data-original-title="Color the structure using different schemes"></i>
                                    <option value="chainid" selected>Color Protein by Chain</option>
                                    <option value="element">Element/CPK</option>
                                    <option value="resname">Residue</option>
                                    <option value="moleculetype">Molecule Type</option>
                                    <option value="bfactor">B-factor</option>
                                    <option value="sstruc">Secondary Structure</option>
                                    <option value="hydrophobicity">Hydrophobicity</option>
                                    <option value="geoquality">Geometry Quality</option>
                                </select>
                            </div>
                        </div>

                        <div class="col s12 m12 l12">
                            <div class="col s6 center-align">
                                <p> Atom representation</p>
                                <div class="switch atomRep">
                                    <label>
                                        Hide
                                        <input id="atomRep" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s6 center-align">
                                <p> Interactions</p>
                                <div class="switch atomRep">
                                    <label>
                                        Hide
                                        <input id="intRep" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l12">
                            <div class="col s3 center-align">
                                <p>PI interaction</p>
                                <div class="switch PIints">
                                    <label>
                                        Hide
                                        <input id="PIints" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>VDW</p>
                                <div class="switch vdw">
                                    <label>
                                        Hide
                                        <input id="vdw" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>Hydrogen Bond</p>
                                <div class="switch hbond">
                                    <label>
                                        Hide
                                        <input id="hbond" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>Ionic</p>
                                <div class="switch ionic">
                                    <label>
                                        Hide
                                        <input id="ionic" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l12">
                            <div class="col s3 center-align">
                                <p>Aromatic</p>
                                <div class="switch aromatic">
                                    <label>
                                        Hide
                                        <input id="aromatic" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>Hydrophobic</p>
                                <div class="switch hydrophobic">
                                    <label>
                                        Hide
                                        <input id="hydrophobic" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>Carbonyl</p>
                                <div class="switch carbonyl">
                                    <label>
                                        Hide
                                        <input id="carbonyl" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                            <div class="col s3 center-align">
                                <p>Polar</p>
                                <div class="switch polar">
                                    <label>
                                        Hide
                                        <input id="polar" type="checkbox" checked>
                                        <span class="lever"></span>
                                        Show
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="singleViewer" style="height:600px;width:auto;text-align:center;overflow:hidden;"></div>
                <button type="button" id="setspin" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                    Spin <i class="fa fa-question-circle tooltipped" data-position="top"
                        data-tooltip="Activate/disable Spin</p>"> </i>
                </button>
                <button type="button" id="fullscreen" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                    Fullscreen <i class="fa fa-question-circle " data-position="top"
                        data-tooltip="Activate/disable Fullscreen mode"> </i>
                </button>
                <button type="button" id="screenshot" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                    Screenshot <i class="fa fa-question-circle tooltipped" data-position="top"
                        data-tooltip="Save screen as an image file"></i>
                </button>
                <button type="button" id="resetView" class="btn waves-effect waves-light blue-grey lighten-5 blue-grey-text text-darken-4 col s12 m6 l3">
                    Reset View
                    <i class="fa fa-question-circle tooltipped" data-position="top"
                        data-tooltip="Reset to the default structure view"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title"><strong>Download</strong></div>
                    <div class="row">
                        <div class="col s12">
                            <br>
                            <div class="col s6" style="text-align:center;"><a
                                    href="{{ url_for('get_pdb', job_id=run_id,file_name='results.csv')}}"
                                    ) }}>
                                    <h6><b> <i class="fas fa-table fa-lg"></i> Result(csv) file </b></h6>
                                </a></div>
                            <div class="col s6" style="text-align:center;"><a
                                    onclick="M.toast({html: 'Pymol V2.3.2 or later is required', classes:'red'})"
                                    href="{{ url_for('get_pdb', job_id=run_id,file_name='interactions.zip')}}"
                                    ) }}>
                                    <h6><b> <i class="fas fa-file-archive fa-lg"></i> Interaction Files(pse) </b>
                                    </h6>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js%}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Select-1.2.6/js/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/Buttons-1.5.2/js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/ngl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ngl/js/single_viewer.js') }}"></script>

<script>
    var table;
    var int = ({{ Arpeggio_wild_interactions|safe}});
    var PIint = ({{ Arpeggio_wild_PIinteractions|safe }});
    var PIint_residues = ({{ Arpeggio_wild_PIinteracting_residues|safe }});
    var position_list=[];
    var updated_wild_int;
    var updated_wild_PIint;
    var updated_wild_PIintResidues;
    var mutations_viewer = ({{ mutations_viewer|safe }});
    var run_id = "{{run_id | safe}}"
    var all_chains = "{{ all_chains|safe}}";
    var pdb_uri_wt = "{{ url_for('get_pdb',job_id=run_id,file_name='input_cleaned.pdb',_external=True) }}";
    structure3DApp.init("singleViewer", pdb_uri_wt,all_chains ,mutations_viewer[0].join(" "), int, PIint, PIint_residues);
    
    function sync_mutation_with_viewer() {
        var tblData = table.row('.selected').data();
        position_list.length = 0;
        var tmpData;
        var chain = tblData[3];
        var selected_position_list = tblData[2].split('/');
        selected_position_list.forEach(element => {
            var position = element.slice(1,element.length-1)
            position_list.push(position+':'+chain);
        });
        var selected_aa = table.row('.selected').data()[2];
        updated_wild_int = (int[selected_aa]);
        updated_wild_PIint = PIint[selected_aa];
        updated_wild_PIintResidues = PIint_residues[selected_aa];
        $('canvas').remove();
        structure3DApp.init("singleViewer", pdb_uri_wt,all_chains ,position_list.join(" "), updated_wild_int, updated_wild_PIint, updated_wild_PIintResidues);
    };

    $(document).ready(function () {
        table = $('#result_table').DataTable({
            dom: 'frtip',
            searching:false,
            paging:false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            order: [[1, 'asc']],
            autoFill:{
                columns: ':not(:first-child)'
            }
        });
        // table.row(':eq(0)').select();

        // setTimeout(function() {
        //     table.row(':eq(0)').select();
        //     // sync_mutation_with_viewer();
        // }, 1000);
    });
    $(document).on('click','#result_table,td.select-checkbox',function(){
        sync_mutation_with_viewer();
    });
</script>
{% endblock extra_js %}
