{% extends 'base.html' %}

{% block container %}

<h2>Prediction Error</h2>

<br/><br/>

<div class="row fluid">
	<div class="span3">
	</div>
	<div class="span9">
			<div class="alert alert-error">
				<br/>
				{% autoescape false %} 
					{% for m in msg %}
						{{ m }} <br/>
					{% endfor %}
				{% endautoescape %} 
			</div>
            <div class="input-field col s12">
                <select multiple="multiple" id="selected_ab_chains">
                    <option value="" disabled selected> Choose Antibody chain(s):</option>
                    {% autoescape false %}
                        {% for ab in ab_chains %}
                            <option value="{{ab}}">{{ab}}</option>
                        {% endfor %}
                    {% endautoescape %}
                </select>
                <label>Chain List</label>
            </div>
			<br/>
            <div class="col s6" style="text-align:center;">
                <a id='re_run_job'href='/' class="btn waves-effect waves-light" style="background-color:#1e88e5;">Resubmit this job</a>
            </div>

			<a type="button" class="btn btn-info" href="{{ url_for('prediction_pages') }}"><i class="icon-repeat"></i> Run another prediction</a></td>
	</div>
</div>

<br/><br/>

{% endblock container %}
{% block external_js %}
<script>
    var selected_chains = $('#selected_ab_chains').val();
    var predtype = '{{predtype}}';
    var job_id = '{{job_id}}';
    $(document).on('click','div',function(){
        document.getElementById('re_run_job').href = '/re_run_job/{{predtype}}/{{job_id}}/'+$('#selected_ab_chains').val().join('');
    });
</script>
{% endblock %}
