{% extends 'base.html' %}

{% block container %}
    <style>
span {
    color:#313131;
}
        .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: .3rem .55rem;
            margin-left: 5px;
            font-size: 14px;
            line-height: 1.2;
            color: #313131;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            border-radius: 0px;
        }
        p {
            padding-left:10px;
                margin:0px;
        }

 </style>
 <div class="row justify-content-center">
     <form class="form" name="submission_type" enctype="multipart/form-data" action='/' method="POST">
         <div class="card-panel ">
             <div class="row">
                 <div class="col s12">
                     <font color="#313131">
                         <h4><b>Step 1. Provide a protein structure</b></h4>
                     </font>
                 </div>
                 <div class="row"> </div>
                     <div class="col s5 file-field input-field">
                         <div class="btn">
                             <span>PDB File</span>
                            <input id="pdb_file" type="file" name="pdb_file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="pdb_file">
                        </div>
                    </div>
                 <div class="col s2 text-center" style="color:#616161;">
                 OR
                 </div>
                 <div class="col s2">
                         <div class="input-filed col s12">
                             <label for="pdb_code">PDB Code</label>
                             <input id="pdb_code" class="validate" data-length="4" type="text" name="pdb_code" placeholder="1A02"></input>
                         </div>
                 </div>
             </div>
         </div>
        
        <div class="card-panel " name="step2">
            <div class="row">
                <div class="col s12">
                    <font color="#313131">
                        <h4><b>Step 2. SMILES of carbohydrate</b></h4>
                    
                    <div class="divider"></div>
                    <div class="row">
                    <div class="col s5">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>SMILES file</span>
                            </div>
                            <input id="smiles_file" type="file" name="smiles_file">
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" id="smiles_file">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col s2">  OR</div>
                    <div class="col s5">
                        <div class="input-filed">
                            <label for="smiles">smiles</label>
                            <textarea id="smiles" class="validate" type="text" name="smiles" placeholder="[C@@H]1([C@@H]([C@H]([C@@H]([C@@H](CO)O1)O[C@H]1[C@@H]([C@H]([C@H]([C@@H](CO)O1)O)O)O)O)NC(=O)C)O" style="height:5rem;font-size:16px;"></textarea>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-panel " name="step3">
            <div class="row">
                <div class="col s12">
                    <font color="#313131">
                        <h4><b>Step 3. Provide a chain of the carbohydrates</b></h4>
                    
                    <div class="divider"></div>
                    <div class="row">
                    <div class="col s5">
                        <div class="input-filed">
                            <label for="carbohydrate_chains">Carbohydrate chain</label>
                            <textarea id="carbohydrate_chains" class="validate" type="text" name="carbohydrate_chains" placeholder="X" style="height:2rem;font-size:16px;"></textarea>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-panel " name="step4">
            <div class="row">
                <div class="col s12">
                    <font color="#313131">
                        <h4><b>Step 4. Provide the name of the carbohydrates</b></h4>
                    
                    <div class="divider"></div>
                    <div class="row">
                    <div class="col s5">
                        <div class="input-filed">
                            <label for="carbohydrate_names">Carbohydrate names</label>
                            <textarea id="carbohydrate_names" class="validate" type="text" name="carbohydrate_names" placeholder="NAG_GAL" style="height:2rem;font-size:16px;"></textarea>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-panel ">
            <div class="row">
                <div class="col s12">
                    <font color="#313131">
                        <h4><b>Email (optional)</b></h4>
                    </font>
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s7">
                        <input class="validate" type="email" id="email" name="email" placeholder="your_email@email.com">
                        <label  for="email">Email</label>
                    <p style="font-size:13px;color:#313131;">
                    If you provide an e-mail, we will send a notice with the result link.
                    </p>
                    </div>
            </div>
        </div>
        <div class="col s12">
        <div class="col s6" style="text-align:center;">
            <a id='example_select'href="/run_example_single" class="btn waves-effect waves-light" style="background-color:#828282;">Run Example</a>
        </div>
        <div class="col s6" style="text-align:center;">
            <button type="submit" class="btn waves-effect waves-light" style="background-color:#1e88e5;">Run Prediction</button>
        </div>
        </div>
    </form>
</div>
{% endblock container %}

{% block external_js %}
<script>

$(document).on('click','div',function(){
    if($('input[id=pdb_file]')[0].value.length == 0){
        $('input[id=pdb_code]').prop('disabled',false);
    } else{
        $('input[id=pdb_code]').prop('disabled',true);
    }

    if($('input[id=smiles_file]')[0].value.length == 0){
        $('input[id=smiles]').prop('disabled',false);
    }else{
        $('input[id=smiles]').prop('disabled',true);
    }
});
$(document).on('click','div',function(){
    if($('input[id=pdb_code]')[0].value.length == 0){
        $('input[id=pdb_file]').prop('disabled',false);
    } else{
        $('input[id=pdb_file]').prop('disabled',true);
    }
});

$('input[type=text]').change(function () {
    if($('input[id=smiles]')[0].value.length ==0){
        $('input[id=smiles_file]').prop('disabled',false);
    } else {
        $('input[id=smiles_file]').prop('disabled',true);
    }
})

$(document).on('click','button',function(){
document.submission_type.action = '/run_single_mode'
});
$('.dropdown-trigger').dropdown();

</script>

{% endblock %}
