{% extends 'base.html' %}

{% block extra_css %}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock extra_css %}

{% block container %}

    <meta http-equiv="refresh" content="10; {{ url_for('results_prediction', job_id=job_id) }}">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-69433706-1', 'auto');
        ga('send', 'pageview');
    </script>
    <div class="container">
    <div class="card" style="border:0px;">
        <div class="card-content">
            <div class="card-title center" style="border:0px;text-align:center;">
                <h2><b>Processing Submission</b></h2>
            </div>
            <div class="row" style="text-align:center;">
               <!-- <div class="span12">
                    <div class="col s12" style="text-align:center;">
                        <img class="img-flud" src="/static/img/congaparrot.gif">
                   </div> -->
                   <div class="preloader-wrapper big active">
                       <div class="spinner-layer spinner-blue">
                           <div class="circle-clipper left">
                               <div class="circle"></div>
                           </div><div class="gap-patch">
                               <div class="circle"></div>
                           </div><div class="circle-clipper right">
                               <div class="circle"></div>
                           </div>
                       </div>
                       <div class="spinner-layer spinner-red">
                           <div class="circle-clipper left">
                               <div class="circle"></div>
                           </div><div class="gap-patch">
                               <div class="circle"></div>
                           </div><div class="circle-clipper right">
                               <div class="circle"></div>
                           </div>
                       </div>                       
                       <div class="spinner-layer spinner-yellow">
                           <div class="circle-clipper left">
                               <div class="circle"></div>
                           </div><div class="gap-patch">
                               <div class="circle"></div>
                           </div><div class="circle-clipper right">
                               <div class="circle"></div>
                           </div>
                       </div>
                       <div class="spinner-layer spinner-green">
                           <div class="circle-clipper left">
                               <div class="circle"></div>
                           </div><div class="gap-patch">
                               <div class="circle"></div>
                           </div><div class="circle-clipper right">
                               <div class="circle"></div>
                           </div>
                       </div>
                   </div>
                   <br/>
               </div>
               <div class="row" style="text-align:center;">
                       <h4 style="text-align:center;">We are processing your submission.</h4>
                       <br>
                       <p><small>You can bookmark (<i class="fa fa-star"></i>) this page and come back later to check the
                            results.</p>
                       <p>This page will automatically refresh after <b>10 seconds</b> and your results will be
                       displayed as soon as they are ready.</small></p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock container %}
